body {
    color: white;
    font-family: Maximum Impact;
}

/* Styling scroll bar when not moving */

::-webkit-scrollbar {
 background: transparent;
}

/* when scroll bar scrolling */
::-webkit-scrollbar-thumb:horizontal {
 background: rgba(0, 0, 0, 0.9);
 border-radius: 10px;
}